<div class="jumbotron">
  <h1>Nearby or Not</h1>
  <p class="lead">Find Franchises Not Nearby</p>
  <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
</div>

<div class="row">
  <div class="col-lg-10 col-centered">

    <%= form_tag( search_path , :method => :post, :class => 'form-horizontal user') do |f| %>
        <div class="resize">

          <div class="form-group">

            <div class="col-sm-12">
              <%= label_tag 'Search' %>
              <%= text_area_tag :search, '', class: 'form-control' %>
            </div>

          </div>

        </div>


        <div class="box-footer col-centered search-button">
          <%= submit_tag nil, :class => 'btn btn-sm btn-success', data: { disable_with: 'Please wait...' } %>
          <%= link_to t('.cancel', :default => t('helpers.links.cancel')),
                      search_path, :class => 'btn btn-sm btn-default' %>
        </div>

    <% end %>

  </div>
</div>

<!--&lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--<div class="row">-->
  <!--<div class="col-lg-4">-->
    <!--<h2>Safari bug warning!</h2>-->
    <!--<p class="text-danger">As of v9.1.2, Safari exhibits a bug in which resizing your browser horizontally causes-->
      <!--rendering errors in the justified nav that are cleared upon refreshing.</p>-->
    <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris-->
      <!--condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec-->
      <!--sed odio dui. </p>-->
    <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
    <!--<h2>Heading</h2>-->
    <!--<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris-->
      <!--condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec-->
      <!--sed odio dui. </p>-->
    <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
  <!--</div>-->
  <!--<div class="col-lg-4">-->
    <!--<h2>Heading</h2>-->
    <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis-->
      <!--euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>-->
    <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
  <!--</div>-->
<!--</div>-->



